@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .arrow {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 24px solid rgb(248, 74, 103);
      position: absolute;
      top: -20px;
      left: 40%;
      margin-left: -5px;
      z-index: 99;
    }
    &.nne {
      transform: rotate(22.5deg);
    }
    &.ne {
      transform: rotate(45deg);
    }
    &.ene {
      transform: rotate(67.5deg);
    }
    &.e {
      transform: rotate(90deg);
    }
    &.ese {
      transform: rotate(112.5deg);
    }
    &.se {
      transform: rotate(135deg);
    }
    &.sse {
      transform: rotate(157.5deg);
    }
    &.s {
      transform: rotate(180deg);
    }
    &.ssw {
      transform: rotate(202.5deg);
    }
    &.sw {
      transform: rotate(-135deg);
    }
    &.wsw {
      transform: rotate(-114.5deg);
    }
    &.w {
      transform: rotate(-90deg);
    }
    &.wnw {
      transform: rotate(-69.5deg);
    }
    &.nw {
      transform: rotate(-45deg);
    }
    &.nnw {
      transform: rotate(-24.5deg);
    }
  }
}



body {
 width: 100%;
 box-sizing: 0;
}

